@import url(//fonts.googleapis.com/css?family=Crete+Round);

body {
    font-size: 18px;
    font-family: Georgia, serif;
    padding: 20px;
}

h1, h2, h3, p, pre, ul, table {
    margin: 0 0 30px 0;
}

h1, h2, h3, p, #livefyre-comments {
    max-width: 600px;
}

h1, h2, h3 {
    font-family: 'Crete Round', serif;
    font-weight: normal;
    color: #222;
    text-rendering: optimizelegibility;
}

p, ul, table {
    color: #444;
    line-height: 1.6;
}

pre {
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 6px;
}

table {
    border-spacing: 0;
    box-shadow: 0 1px 1px #CCC;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 6px;
}

tr:nth-child(2n) td {
    background-color: #F2F2F2;
}

th {
    background-color: #EBF3FC;
}

td, th {
    padding: 4px 20px;
}

a {
    color: #028D79;
    text-decoration: none;
}

a:visited {
    color: #013435;
}

a:hover {
    text-decoration: underline;
}

blockquote::before {
    display: block;
    height: 0px;
    color: #ccc;
    content: ".:";
    font-size: 2em;
    margin-left: -1em;
}

.highlight {
    margin-left: 0;
    width: fit-content;
    line-height: 1.6;
}