@import url(//fonts.googleapis.com/css?family=Crete+Round);

body {
    font-size: 18px;
    font-family: Georgia, serif;
    padding: 20px;
}

h1, h2, h3, p, pre, ul {
    margin: 0 0 30px 0;
}

h1, h2, h3, p, #livefyre-comments {
    width: 600px;
}

h1, h2, h3 {
    font-family: 'Crete Round', serif;
    font-weight: normal;
    color: #222;
    text-rendering: optimizelegibility;
}

p, ul {
    color: #444;
    line-height: 1.6;
}

pre {
    background-color: #F5F5F5;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

a {
    color: #028D79;
    text-decoration: none;
}

a:visited {
    color: #013435;
}

a:hover {
    text-decoration: underline;
}