<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="author" content="Daniel Howlett" />
        <meta name="viewport" content="width=device-width" />

	{% if page.title %}
	<title>{{ page.title }} - {{ site.title }}</title>
	{% else %}
	<title>{{ site.title }}</title>
	{% endif %}

        <link href="/lib/prism/prism.min.css" rel="stylesheet">
        <link href="/css/site.css" rel="stylesheet">

    </head>
    <body class="language-php">

        {{ content }}

        <script src="/lib/prism/prism.min.js"></script>

    </body>
</html>