<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="author" content="Daniel Howlett" />
        <meta name="viewport" content="width=device-width" />

	{% if page.title %}
	<title>{{ page.title }} - {{ site.title }}</title>
	{% else %}
	<title>{{ site.title }}</title>
	{% endif %}

        <link href="/css/pygments-monokai.css" rel="stylesheet">
        <link href="/css/site.css" rel="stylesheet">

    </head>
    <body>

        {{ content }}

        <script type="text/javascript">

window.graphcomment_id = 'dancras-co-uk';

(function() {
    var gc = document.createElement('script'); gc.type = 'text/javascript'; gc.async = true;
    gc.src = 'https://graphcomment.com/js/integration.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(gc);
})();

        </script>

    </body>
</html>