<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="author" content="Daniel Howlett" />
        <meta name="viewport" content="width=device-width" />

	{% if page.title %}
	<title>{{ page.title }} - {{ site.title }}</title>
	{% else %}
	<title>{{ site.title }}</title>
	{% endif %}

        <link href="/lib/prism/prism.min.css" rel="stylesheet">
        <link href="/css/site.css" rel="stylesheet">

    </head>
    <body class="language-php">

        {{ content }}

        <script src="/lib/prism/prism.min.js"></script>

        <script type="text/javascript" src="http://zor.livefyre.com/wjs/v3.0/javascripts/livefyre.js"></script>
        <script type="text/javascript">
        (function () {

            if (!document.getElementById('livefyre-comments')) {
                return;
            }

            var articleId = fyre.conv.load.makeArticleId(null);
            fyre.conv.load({}, [{
                el: 'livefyre-comments',
                network: "livefyre.com",
                siteId: "325276",
                articleId: articleId,
                signed: false,
                collectionMeta: {
                    articleId: articleId,
                    url: fyre.conv.load.makeCollectionUrl(),
                }
            }], function() {});
        }());
        </script>

    </body>
</html>